a {
  color: $text-cl;
  text-decoration: none;
  display: block;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
}
strong {
  font-family: bb;
}

.-lv1 {
  @include text(100px, b, 100px, $white-cl, none);
  font-weight: normal;
  margin: 0;
  a {
    @include text(100px, g, 100px, $white-cl, none);
  }
  @include tablet {
  }
  @include mobile {
  }
}

// .btnmain {
//   border: 2px solid $white-cl;
//   padding: 10px 40px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   text-transform: uppercase;
//   @include transition(0.3s);
//   i {
//     right: 0;
//     position: relative;
//     display: block;
//     margin-left: 15px;
//     right: -10px;
//     @include transition(0.3s);
//   }
//   &:hover {
//     background: red;
//     @include transition(0.3s);
//   }
//   i {
//     margin-left: 10px;
//   }
// }

// .arrow {
// }
