footer {
  background: #000;
  .container {
    background-color: black;
    color: #fff;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copy {
      text-transform: none;
      font-size: 16px;
      letter-spacing: 0.25px;
    }
    .backtotop {
      a {
        color: white;
        cursor: pointer;
      }
    }
  }
}
